@model Movie
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col-md-12">
        <h5>@Model.Name</h5>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            <img src="@Model.ImageUrl" class="rounded" />
        </div>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-12">
        <h5>Desctiption</h5>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <p>@Model.Description</p>
    </div>
</div>
<br /><br />
<div class="row">
    <div class="col-md-12">
        <h5>Trailer</h5>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            @Html.Raw(Model.TrailerUrl)
        </div>
    </div>
</div>